# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for most servers.
# Please read the fivem documentation:
#   https://aka.cfx.re/server-commands
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You SHOULD edit the following:
sv_master1 "" # sætter serveren som private
sv_hostname "Elevate 18+"
sets sv_projectName "Elevate 18+"
sets sv_projectDesc "ElevateRP.dk danmarks vildeste server - certificeret af Malik Merchichi"
set mysql_connection_string "mysql://root@localhost:3306/elevate?charset=utf8mb4"
sets tags "roleplay, esx, elevate, elevaterp, elevaterp.dk, rp, dansk, danish, elevatedk, elevaterpdk, roleplay"
sets locale "root-AQ"
set log_file "server.log"
## You CAN edit the following:
sv_enforceGameBuild 3095
set txAdmin-menuPtfxDisable true # disable noclip effect
sv_licenseKey ""
sv_maxclients 8
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set steam_webApiKey ""
set resources_useSystemChat false
set chat_showJoins false
set chat_showQuits false
setr ox:locale da

## These resources will start by default.
# ensure mapmanager
ensure spawnmanager
ensure sessionmanager
# ensure basic-gamemode
ensure baseevents
ensure hardcap
ensure MugShotBase64
ensure oxmysql
ensure ox_lib

## ESX Legacy
ensure es_extended
ensure av_multicharacter
ensure [chat]
ensure ox_target
ensure pma-voice
ensure jungurum-smallresources
ensure ox_inventory
ensure [core]
ensure esx_society
ensure esx_addonaccount
ensure [esx_addons]
ensure [ox]
ensure [lb]
ensure [rcore]
ensure [logs]

## Libraries etc...
ensure bn_lib
ensure burger-lib
ensure [banannus]
ensure Renewed-Lib
ensure mani-bridge

## Alt andet
ensure esx_status
ensure electus_admin
ensure av_laptop
ensure [custom]
ensure av_business
ensure [standalone]

## Streaming
ensure as_mapdata
ensure [streaming]
ensure [vehiclesounds]

## comment this in for normal version and vise versa
## ensure rcore_clothing_for_photos

exec inventory.cfg

## Add system admins
add_ace group.god command allow # allow all commands
add_ace group.god command.quit deny # but don't allow quit

## Add system admins
add_principal group.god group.user
add_ace group.god command allow # allow all commands
add_ace group.god command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow


## Voice settings

setr mumble_maxClientsPerIP 2000

setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_disableAutomaticListenerOnCamera 1

setr voice_defaultCycle Z

setr voice_enableRadios 1
setr voice_enablePhones 1

setr voice_enableSubmix 1
setr voice_enableRadioAnim 1
setr voice_defaultRadio LEFT ALT
setr voice_defaultVolume 1.0

setr voice_zoneRadius 16
setr voice_zoneRefreshRate 50
setr voice_syncData 0

add_ace resource.rcore_clothing command.add_ace allow
add_ace resource.rcore_clothing command.add_principal allow
add_ace resource.rcore_clothing command.remove_principal allow